.container {
    width: 80% !important;
    max-width: 1500px !important;
}

.container, .custom-container {
    margin-top: 120px !important;
}

.margin-bottom {
    margin-bottom: 30px;
}

.container-custom {
    width: 80% !important;
}