<section>
    <div class="container mt-5 text-center" >
        <div class="row">
            <div class="col-md-12">
                <img th:src="@{/images/larry2.png}" class="rounded card-img-top mb-5" alt="...">
                <div>
                    <h1 class="display-4 fw-bold mb-3">Discover Amazing Events</h1>

                    <!-- Subtitle -->
                    <p class="lead text-muted mb-4">
                        Explore our wide range of exciting events happening near you. From live concerts to workshops,
                        we have something for everyone!
                    </p>

                    <!-- Browse Button -->
                    <a href="/events" class="btn btn-primary btn-lg">Browse Events</a>
                </div>
            </div>
        </div>
    </div>
</section>